<div class="br-radio-group">
  <label class="br-label">{{ config.label }} <span class="mode-pill">MATERIAL</span></label>
  <mat-radio-group
    class="br-material-radio-group"
    [ngClass]="config.className"
    [attr.id]="config.id"
    [attr.name]="config.name"
    [ngModel]="config.value"
    (ngModelChange)="valueChange.emit($event)"
    (blur)="blurEvent.emit($event)"
    (focus)="focusEvent.emit($event)"
    (input)="inputEvent.emit($event)"
    (change)="changeEvent.emit($event)"
    (keydown)="keydownEvent.emit($event)"
    (keyup)="keyupEvent.emit($event)"
    (click)="clickEvent.emit($event)"
  >
    <mat-radio-button
      *ngFor="let opt of config.options"
      [value]="opt.value"
      [disabled]="config.disabled"
      [required]="config.required"
      class="br-material-radio"
    >
      {{ opt.label }}
    </mat-radio-button>
  </mat-radio-group>
</div>
