<br-custom-checkbox-control *ngIf="mode === 'CUSTOM' && customConfig as cfg"
  [config]="cfg"
  (valueChange)="onImplementationValueChange($event)"
  (blurEvent)="onImplementationBlur($event)"
  (focusEvent)="onImplementationFocus($event)"
  (inputEvent)="onImplementationInput($event)"
  (changeEvent)="onImplementationChange($event)"
  (keydownEvent)="onImplementationKeydown($event)"
  (keyupEvent)="onImplementationKeyup($event)"
  (clickEvent)="onImplementationClick($event)">
</br-custom-checkbox-control>

<br-material-checkbox-control *ngIf="mode === 'MATERIAL' && materialConfig as cfg"
  [config]="cfg"
  (valueChange)="onImplementationValueChange($event)"
  (blurEvent)="onImplementationBlur($event)"
  (focusEvent)="onImplementationFocus($event)"
  (inputEvent)="onImplementationInput($event)"
  (changeEvent)="onImplementationChange($event)"
  (keydownEvent)="onImplementationKeydown($event)"
  (keyupEvent)="onImplementationKeyup($event)"
  (clickEvent)="onImplementationClick($event)">
</br-material-checkbox-control>
