<div class="br-control br-single-select-control">
  <label class="br-label">{{ config.label }}</label>
  <select class="br-select" [ngClass]="config.className" [attr.id]="config.id" [attr.name]="config.name"
    [disabled]="config.disabled" [required]="config.required" [ngModel]="config.value" (ngModelChange)="valueChange.emit($event)"
    (blur)="blurEvent.emit($event)" (focus)="focusEvent.emit($event)" (input)="inputEvent.emit($event)"
    (change)="changeEvent.emit($event)" (keydown)="keydownEvent.emit($event)" (keyup)="keyupEvent.emit($event)"
    (click)="clickEvent.emit($event)">
    <option [ngValue]="''">Select...</option>
    <option *ngFor="let opt of config.options" [ngValue]="opt.value">{{ opt.label }}</option>
  </select>
</div>
