<label class="br-checkbox-row" [ngClass]="config.className" [attr.id]="config.id">
  <input class="br-checkbox" [attr.name]="config.name" type="checkbox" [disabled]="config.disabled" [required]="config.required"
    [ngModel]="config.checked" (ngModelChange)="valueChange.emit($event)" (blur)="blurEvent.emit($event)"
    (focus)="focusEvent.emit($event)" (input)="inputEvent.emit($event)" (change)="changeEvent.emit($event)"
    (keydown)="keydownEvent.emit($event)" (keyup)="keyupEvent.emit($event)" (click)="clickEvent.emit($event)" />
  <span>{{ config.label }}</span>
</label>
